{% load i18n static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% translate "Syner Social" %}{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<a href="/" class="logo">{% translate "Syner Social" %}</a>
		</div>
		<div id="subheader">
			<div class="cart">
				{% with total_items=cart|length %}
					{% if total_items > 0 %}
						{% translate "Your cart" %}:
						<a href="{% url "cart:cart_detail" %}">
							{% blocktranslate with total=cart.get_total_price count items=total_items %}
								{{ items }} item, ${{ total }}
							{% plural %}
								{{ items }} items, ${{ total }}
							{% endblocktranslate %}
						</a>
					{% elif not order %}
						{% translate "Your cart is empty." %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
